* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form {
    margin-top: 30px;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

input, button {
    width: 100%;
    display: block;
    resize: none;
    margin-bottom: 8px;
    padding: 8px;
}

button {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #9900ff;
}

button:hover {
    background-color: #8a00e6;
}

#resultMessage {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}